<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Jona Joe - Resume</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="styles.css">
      <!-- ?<script src="vue.js"></script> -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
      <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Sans" rel="stylesheet">
        <!--google fonts API import -->

      <!-- change to production version after -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    </head>

    <body>

      <header id="#">
        <h1>Jona Joe</h1>
        <p>Tempe, Arizona</p>
        <a href="mailto:jjoe3@asu.edu">Jona.Joe@asu.edu</a></br>
      </header>

      <main id="main">
        <h2>Education</h2>
          <h3>Arizona State University</h3>
          <p class="right-align">May 2020 <br>Cumulative GPA: 3.70</p>
          <p>
            Bachelor of Science, Informatics <br>
            Barrett, the Honors College <br>
            Arizona State University, Tempe, Arizona
          </p>

        <h2>Skills</h2>
          <ul>
            <li>Programming Languages: Java, C#, HTML, CSS, JavaScript</li>
            <li>Technologies: Git, Visual Studio, React.js, Vue.js, Photoshop, Illustrator, InDesign, Unity</li>
          </ul>

        <div id="content">
        <h2>Work Experience</h2>
          <h3 class="title">Research Intern</h3>
          <p class="right-align">July 2018 - Present</p>
          <p class="subtitle">Mayo Clinic</p>

          <ul>
            <li>Developed augmented reality medical application for Microsoft HoloLens using C# and Unity</li>
            <li>Coordinated with project team to manage priorities, goals, and feature implementation for final product</li>
          </ul>

          <h3 class="title">Website Content Assistant</h3>
          <p class="right-align">February 2018 - Present</p>
          <p class="subtitle">EdPlus at Arizona State University, Scottsdale, Arizona</p>

          <ul>
            <li>Improved website visuals and functionality by updating HTML and JavaScript</li>
            <li>Created and edited graphic design collateral in Photoshop and Illustrator to maintain brand image</li>
            <li>Assisted in administrative tasks such as consolidating and visualizing financial data</li>
            <li>Supported clients in developing online courses by leveraging learning management system knowledge</li>
          </ul>
          <!-- <content-item
            item="workExperience"
            v-for="exp in workExperience"
            :key="exp.id"

            </content-item>
          > -->
          <!-- <div class="text"> <h3>{{exp.title}}</h3> <p>{{exp.subtitle}}</p><br> <p class="right-align">{{exp.duration}}</p> </div> -->


        <h2>Technical Projects</h2>
          <h3 class="title">Pragma Technologies Company Website | CIS300 Web Design and Development Honors Project</h3>
          <p class="subtitle"><a href="https://jtjoe.github.io/pragma-tech/">https://jtjoe.github.io/pragma-tech/</a></p>
          <!-- <p class="right-align"></p> -->
          <ul>
            <li>Designed and built website for fictitious company using HTML, CSS, and Vue.js</li>
            <li>Developed brand image by establishing company branding, authoring copy text, and curating visuals</li>
          </ul>
          <!-- <content-item
            item="input"
          >
          </content-item> -->

        <h2>Extracurricular Activities</h2>
          <h3 class="title">Software Developer's Association</h3>
          <p class="right-align">August 2017 - Present</p>
          <p class="subtitle">Digital Media Co-Director</p>

          <ul>
            <li>Coordinated with officers to produce promotional social media content using Adobe InDesign</li>
            <li>Attended meetings to explore new technologies and improve programming skills</li>
          </ul>

          <h3 class="title">SunHacks 2018</h3>
          <p class="right-align">April 6 - April 8, 2018</p>
          <p class="subtitle">Volunteer</p>

          <ul>
            <li>Managed hardware lab by organizing rental logistics and answering participant questions</li>
            <li>Attended workshops to improve programming skills and learn new technologies</li>
          </ul>

      </div>
      </main>

      <footer>
        <p>

          <a href="https://gitlab.com/jtjoe/ame470-Assignments/tree/master/assignment-2">Website source code here</a>
        </p>
        <!--  <to-top></to-top> vue.js mixin -->
      </footer>

      <!-- <script src="app.js"></script> -->
    </body>
</html>
