body{
  /* background-color: ; */
  color: #555555;

}

header, header a{
  font-size: 120%;
  text-decoration: none;
  text-align: center;
  color: #555555;
}
header h1{
  color: #FFA100; /* darker orange */
  font-family: 'Noto Sans', Arial, sans-serif;
}

main{
  margin: 10%;
  font-family: 'Crimson Text', Times, serif;
}
main a{
  text-decoration: none;
  color: #555555;
  /* text-align: right;
  font-size: 75%; */
}

h2{
  font-family: 'Noto Sans', Arial, sans-serif;
  color: #2966C0; /* blue */
}

.title{

}

.subtitle{
  text-decoration: none;
  font-style: italic;
}

.right-align{
  float: right;
  text-align: right;
}

footer, footer a, .to-top{
  text-align: center;
  color: #FFA100;
  text-decoration: none;
}
.to-top:hover{
  color: #FFAE22;
}
